<!DOCTYPE html>
<html>
<head>
    <title>Doctor Who Quotes API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="container-fluid">
    <img class="img-fluid" src="dw-logo.png">
    <h1>Quote API</h1>
    <p>To get a single random quote, request: "https://dw-quote-api.herokuapp.com/quotes"</p>
    <p>To get quotes from a particular character, enter their name: "https://dw-quote-api.herokuapp.com/quotes/&lt;name&gt;"</p>
    <p>For multiple quotes, define the amount you want returned: "https://dw-quote-api.herokuapp.com/quotes?amount=&lt;number&gt;"</p>
    <p>The data will return in JSON format. Here is an example:</p>
    <div id="example">
    <pre>
        [
          {
          "quote": "I am definitely a madman with a box!",
          "episode": "Season 5, Episode 1",
          "character": "The Doctor"
          }
        ]
    </pre>
    </div>
</div>

</body>
</html>